body {
  background: #1F91AD;
  height: 100%;
}

.profileImage {
  border-radius: 50%;
  margin: 40px auto;
  width: 200px;
  display: flex;
  align-content: center;
}

.name {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Tahoma, Helvetica, sans-serif;
  color: #023047;
  font-size: 1.2rem;
  margin-top: 20px;
}

a {
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px white solid;
  font-size: 1.8rem;
  color: white;
  margin: 30px;
  padding: 25px;
}

a:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.2);
}
